<section class="blog">
  <div class="container">
    <h3 class="blog__title section__title">Get update with <span class="span">latest blog</span>
    </h3>
    <div class="blog__grid grid__box">
      <div class="blog__grid-item">
        <img class="blog__grid-item--img" src="../images/blog/blog-first.png" alt="blog-img--1">
        <p class="blog__grid-item--title">The Amazing Difference a Year of Travelling .</p>
        <p class="blog__grid-item--date">July 27, 2021</p>
      </div>
      <div class="blog__grid-item">
        <img class="blog__grid-item--img" src="../images/blog/blog-second.png" alt="blog-img--1">
        <p class="blog__grid-item--title">Travel far enough, you meet yourself.</p>
        <p class="blog__grid-item--date">July 27, 2021</p>
      </div>
      <div class="blog__grid-item">
        <img class="blog__grid-item--img" src="../images/blog/blog-third.png" alt="blog-img--1">
        <p class="blog__grid-item--title">How to Save Money While Visiting Africa .</p>
        <p class="blog__grid-item--date">July 27, 2021</p>
      </div>
      <div class="blog__grid-item">
        <img class="blog__grid-item--img" src="../images/blog/blog-fourth.png" alt="blog-img--2">
        <p class="blog__grid-item--title">Reflections on 5 Months of Travel: Time to Hang</p>
        <p class="blog__grid-item--date">July 27, 2021</p>
      </div>
    </div>
    <svg class="blog__slider" xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14" fill="none">
      <circle cx="5" cy="7" r="5" fill="#E5E5E5" />
      <circle cx="27" cy="7" r="7" fill="#FA7436" />
      <circle cx="49" cy="7" r="5" fill="#E5E5E5" />
    </svg>
  </div>
</section>