<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <form class="form" action="">
        <h3 class="footer-title section__title">Subscribe and get exclusive deals & offer
        </h3>
        <label class="input__box">
          <svg class="bottom__mail-svg" xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16"
            fill="none">
            <path d="M3.55566 5.33301L8.289 8.88301C8.64455 9.14967 9.13344 9.14967 9.489 8.88301L14.2223 5.33301"
              stroke="#999999" stroke-linecap="round" />
            <rect x="0.5" y="0.5" width="17.6667" height="15" rx="4.5" stroke="#999999" />
          </svg>
          <input class="footer-input" type="email" placeholder="Enter your Email">
          <button class="footer-button" type="button">Subscribe</button>
        </label>
      </form>
    </div>
    <div class="footer__bottom-wrapper">
      <div class="footer__bottom-wrapper-left">
        <div class="column__one">
          <a class="logo__link" href="!#">
            <p class="logo-Text">Trabook</p>
            <img class="logo" src="./images/logo-Vector.svg" alt="logo">
          </a>
          <p class="footer__textUnderLogo">Book your trip in minute, get full
            Control for much longer.
          </p>
          <div class="footer__socials">
            <a class="social__link" href="">
              <img class="footer__facebook" src="../images/icons/icon-fill/Social-1.svg" alt="">
            </a>
            <a class="social__link" href="">
              <img class="footer__insatgam" src="../images/icons/icon-fill/instagram.png" alt="">
            </a>
            <a class="social__link" href="">
              <img class="footer__twiter" src="../images/icons/icon-fill/Social.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="footer__bottom-wrapper-right">
        <div class="column-2">
          <p class="item-title">Company</p>
          <ul class="footer__company-box footer__box">
            <li class="company-item2">About</li>
            <li class="company-item3">Careers</li>
            <li class="company-item4">Logistic</li>
            <li class="company-item5">Privacy & Policy</li>
          </ul>
        </div>
        <div class="column-3">
          <p class="item-title"> Contact</p>
          <ul class="footer__contact-box footer__box">
            <li class="contact-item2">Help/FAQ</li>
            <li class="contact-item3">Press</li>
            <li class="contact-item4">Affilates</li>
          </ul>
        </div>
        <div class="column-4">
          <p class="item-title">More</p>
          <ul class="footer__more-box footer__box">
            <li class="more-item2"> Press Centre</li>
            <li class="more-item3"> Our Blog</li>
            <li class="more-item4"> Low fare tips</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__line"></div>
    <div class="footer__down-box">
      <p class="down-left">Copyright, Trabook 2022. All rights reserved.</p>
      <p class="down-right">Terms & Conditions</p>
    </div>
  </div>
</footer>
</body>

</html>