<section class="hero">
  <div class="container">
    <!--=include nav.html -->
    <div class="hero__middle">
      <div class="hero__middle-left">
        <h1 class="hero__middle-left--title">Get started your exciting <span class="hero__span text__span">journey</span>
          with us.
        </h1>
        <p class="hero__middle-left--description">A Team of experienced tourism professionals will provide you with
          the best advice and tips for your desire place.
        </p>
        <button class="hero__middle-left--button bottom--optTransporent">Discover Now</button>
      </div>
      <div class="hero__middle-right">
        <img class="hero__middle-right--img" src="../images/hero/tourist.png" alt="tourist">
      </div>
    </div>
    <div class="hero__bottom">
      <ul class="hero__registration">
        <div class="block__item">
          <li class="hero__registration--item">Location</li>
          <p class="hero__registration--description">Where are you going</p>
        </div>
        <div class="block__item">
          <li class="hero__registration--item">Date</li>
          <p class="hero__registration--description">When you will go</p>
        </div>
        <div class="block__item">
          <li class="hero__registration--item">Guest</li>
          <p class="hero__registration--description">Number of guest</p>
        </div>

        <button class="registration__button button" type="submit">Explore Now</button>
      </ul>
    </div>
  </div>
</section>