<nav class="nav">
  <a class="logo__link" href="!#">
    <p class="logo-Text">Trabook</p>
    <img class="logo" src="./images/logo-Vector.svg" alt="logo">
  </a>
  <ul class="menu__list">
    <a href="!#" class="menu__link">
      <li class="menu__list-item1">Home</li>
    </a>
    <a href="!#" class="menu__link">
      <li class="menu__list-item2">About</li>
    </a>
    <a href="!#" class="menu__link">
      <li class="menu__list-item3">Destination</li>
    </a>
    <a href="!#" class="menu__link">
      <li class="menu__list-item4">Tour</li>
    </a>
    <a href="!#" class="menu__link">
      <li class="menu__list-item5">Blog</li>
    </a>
  </ul>
  <div class="form__group">
    <form class="link__login" action="" class="login"><a href="!#"><button type="submit">Login</button></a>
    </form>
    <form class="link__singUp button" action="" class="singUp"><a href="!#"><button type="submit">Sing up </button></a>
    </form>
  </div>
</nav>