<section class="things_you_need">
  <div class="container">
    <h3 class="things__title section__title">
      Things you need <span class="text__span">to do</span>
    </h3>
    <p class="things__subtitle section__subtitle">
      We ensure that you’ll embark on a perfectly planned, safe vacation at a price you can afford.
    </p>
    <div class="wrapper__things">
      <div class="item__things item-1">
        <img class="item__image" src="../images/icons/icon-outline/Group.svg" alt="">
        <h5 class="item__title">Sign Up</h5>
        <p class="item__subtitle">Completes all the work associated with planning and processing</p>
      </div>
      <div class="item__things item-2">
        <img class="item__image" src="../images/icons/icon-outline/Group-1.svg" alt="">
        <h5 class="item__title">Worth of Money</h5>
        <p class="item__subtitle">After successful access then book from exclusive deals & pricing</p>
      </div>
      <div class="item__things item-3">
        <img class="item__image" src="../images/icons/icon-outline/Group-2.svg" alt="">
        <h5 class="item__title">Exciting Travel
        </h5>
        <p class="item__subtitle">Start and explore a wide range of exciting travel experience.</p>
      </div>
    </div>
  </div>
</section>