//Colors

//Primary Colors

$orange: #FA7436;
$dark: #222222;

//Secondary Colors
$blue: #4086F4;
$yellow: #FFB60A;

//text colors

$grey: #444444;
$greylight: #666666;
$greylight2: #999;

// background

$bgwhite: #FEFCFB;
$bggrey: #F7F8FC;